
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2{
    margin-bottom: 0px;
}

.icon-cont{
   
    
    text-align: center;
}
.icon-cont img{
    margin: 30px;
}
.buttonCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    display: none;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;

}